# Program 7- Implement the Linear Regression using built in function of the Python

In [1]:
#import libraries
import pandas as pd
#import matplotlib.pyplot as plt
import numpy as np
#%matplotlib inline
from sklearn import linear_model

In [2]:
#load the data
df = pd.read_csv(r'/home/rashi/Documents/ML_Programs/carMPG.csv')
df.head()
df.describe()

,MPG,Cylinders,Displacement,Weight,Acceleration,Model_year,Origin
count,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,23.489447,5.454774,193.425879,2970.424623,15.568090,2008.989950,1.572864
std,7.849757,1.701004,104.269838,846.841774,2.757689,3.697627,0.802055
min,8.000000,3.000000,68.000000,1613.000000,8.000000,2003.000000,1.000000
25%,17.125000,4.000000,104.250000,2223.750000,13.825000,2006.000000,1.000000
50%,23.000000,4.000000,148.500000,2803.500000,15.500000,2009.000000,1.000000
75%,29.000000,8.000000,262.000000,3608.000000,17.175000,2012.000000,2.000000
max,46.600000,8.000000,455.000000,5140.000000,24.800000,2015.000000,3.000000

In [3]:
#select only two rows from the given data.
model=pd.DataFrame(df,columns=['MPG','Acceleration'])
model

      MPG  Acceleration
0     8.0          12.0
1    15.0          11.5
2    18.0          11.0
3    16.0          12.0
4    17.0          10.5
..    ...           ...
393  27.0          15.6
394  44.0          24.6
395  32.0          11.6
396  28.0          18.6
397  31.0          19.4

[398 rows x 2 columns]

In [4]:
X_train=np.array(model.Acceleration[:-30])
X_test=np.array(model.Acceleration[-30:])
y_train=np.array(model.MPG[:-30])
y_test=np.array(model.MPG[-30:])
print(len(X_train))
print(len(X_test))
print(len(y_train))
print(len(y_test))

368
30
368
30

In [5]:
#create the regression model object
reg=linear_model.LinearRegression()
X_train=X_train.reshape(len(X_train),1)
y_train=y_train.reshape(len(y_train),1)
X_test=X_test.reshape(len(X_test),1)
y_test=y_test.reshape(len(y_test),1)
reg.fit(X_train,y_train)

LinearRegression()

In [6]:
#predict the test data
prediction=reg.predict(X_test)
print(prediction)
print(y_test)

[[26.5064259 ]
 [25.79340394]
 [23.65433807]
 [23.41666409]
 [25.79340394]
 [23.89201206]
 [28.76432876]
 [22.58480514]
 [26.03107792]
 [25.31805597]
 [21.87178318]
 [24.96154499]
 [21.63410919]
 [21.63410919]
 [24.48619702]
 [22.22829416]
 [23.06015311]
 [23.65433807]
 [23.89201206]
 [24.60503401]
 [21.63410919]
 [21.87178318]
 [20.92108724]
 [19.8515543 ]
 [24.96154499]
 [22.94131611]
 [33.63664546]
 [18.18783641]
 [26.5064259 ]
 [27.45712184]]
[[27.]
 [34.]
 [31.]
 [29.]
 [27.]
 [24.]
 [23.]
 [36.]
 [37.]
 [31.]
 [38.]
 [36.]
 [36.]
 [36.]
 [34.]
 [38.]
 [32.]
 [38.]
 [25.]
 [38.]
 [26.]
 [22.]
 [32.]
 [36.]
 [27.]
 [27.]
 [44.]
 [32.]
 [28.]
 [31.]]

In [7]:
# The mean squared error
print("Mean squared error: %.2f"% np.mean((prediction - y_test) ** 2))

Mean squared error: 95.22