Python program to find the Mean, median, mode, standard deviation, variance using python libraries and withour using libraries.
Read the data from the stats.xlsx

In [5]:
#import the required packages
import pandas as pd
import numpy as np

In [6]:
#read the data from the stats.xlsx using pandas.
data=pd.read_csv(r'/home/rashi/Documents/ML_Programs/Stats.csv')
print(data)

    Emp#  YearsOfExp  Salary in Rs.
0      1          10         126015
1      2           1          12598
2      3           8         100639
3      4          10         125351
4      5           2          25031
5      6           5          62630
6      7           9         112620
7      8           8         100639
8      9           4          50145
9     10           2          25232
10    11           9         112770
11    12           3          37512
12    13           4          50274
13    14           5          62768
14    15          10         125363
15    16           2          25226
16    17           6          75392
17    18           7          87779
18    19           7          87654
19    20           3          37592
20    21          10         125186
21    22           2          25187
22    23           9         113309
23    24           9         113112
24    25          10         125506

In [7]:
# shape, head and describe functions of Dataframe
print(data.shape)
print(data.head(10))
data.describe()

(25, 3)
   Emp#  YearsOfExp  Salary in Rs.
0     1          10         126015
1     2           1          12598
2     3           8         100639
3     4          10         125351
4     5           2          25031
5     6           5          62630
6     7           9         112620
7     8           8         100639
8     9           4          50145
9    10           2          25232

            Emp#  YearsOfExp  Salary in Rs.
count  25.000000   25.000000      25.000000
mean   13.000000    6.200000   77821.200000
std     7.359801    3.175426   39847.615281
min     1.000000    1.000000   12598.000000
25%     7.000000    3.000000   37592.000000
50%    13.000000    7.000000   87654.000000
75%    19.000000    9.000000  113112.000000
max    25.000000   10.000000  126015.000000

In [8]:
# printing mean, std.dev, variance, median and mode of the 'YearsOfExP' Column
# convert dataframe data into numpy array

In [9]:
arr=np.array(data['YearsOfExp'])
print("YearsOfExp array is:", + arr)
print('Mean:',+arr.mean())
print('Standard Deviation:',+arr.std())
print('variance:',+arr.var())
print('median:',+np.median(arr))
from scipy import stats
print('mode:')
print(stats.mode(arr))

YearsOfExp array is: [10  1  8 10  2  5  9  8  4  2  9  3  4  5 10  2  6  7  7  3 10  2  9  9
 10]
Mean: 6.2
Standard Deviation: 3.111269837220809
variance: 9.68
median: 7.0
mode:
ModeResult(mode=array([10]), count=array([5]))

In [10]:
# printing mean, std.dev, variance, median and mode of the 'Salary in Rs.' Column
# convert dataframe data into numpy array

#calculate mean, median, mode , std, var for another column

In [11]:
arr1=np.array(data['Salary in Rs.'])
print("YearsOfExp array is:", + arr1)
print('Mean:',+arr1.mean())
print('Standard Deviation:',+arr1.std())
print('variance:',+arr1.var())
print('median:',+np.median(arr1))
from scipy import stats
print('mode:')
print(stats.mode(arr1))

YearsOfExp array is: [126015  12598 100639 125351  25031  62630 112620 100639  50145  25232
 112770  37512  50274  62768 125363  25226  75392  87779  87654  37592
 125186  25187 113309 113112 125506]
Mean: 77821.2
Standard Deviation: 39042.52996208109
variance: 1524319145.84
median: 87654.0
mode:
ModeResult(mode=array([100639]), count=array([2]))

#calculate the mean, median,mode, std, var without using libraries

In [12]:
#Mean of the First coloumn without using the built in libraries

In [13]:
n=len(arr)
s=sum(arr)
mean=s/n
print('mean:',+mean)

mean: 6.2

In [14]:
#standard deviation

In [15]:
std_dev = np.sqrt(np.mean((arr - np.mean(arr)) ** 2 ))
print('standard deviation:',+std_dev)

standard deviation: 3.111269837220809

In [16]:
#variance calculation

In [17]:
var = np.mean((arr - np.mean(arr)) ** 2 )
print('variance:',+var)

variance: 9.68

In [18]:
#Median

In [19]:
n = len(arr) 
arr.sort()
if n % 2 == 0: 
    median1 = arr[n//2]
    print(median1)
    median2 = arr[n//2 - 1] 
    print(median2)
    median = (median1 + median2)/2
else: 
    median = arr[n//2] 
print("Median is: " + str(median))

Median is: 7

In [20]:
#Mode

In [21]:
from collections import Counter 
# list of elements to calculate mode 
n = len(arr) 
data = Counter(arr) 
print(data)
get_mode = dict(data) 
print(get_mode)
mode = [k for k, v in get_mode.items() if v == max(list(data.values()))] 
  
if len(mode) == n: 
    get_mode = "No mode found"
else: 
    get_mode = "Mode is / are: " + ', '.join(map(str, mode)) 
      
print(get_mode)

Counter({10: 5, 2: 4, 9: 4, 3: 2, 4: 2, 5: 2, 7: 2, 8: 2, 1: 1, 6: 1})
{1: 1, 2: 4, 3: 2, 4: 2, 5: 2, 6: 1, 7: 2, 8: 2, 9: 4, 10: 5}
Mode is / are: 10

# Similarly Calculate the Mean, median, mode, variance and standard deviation for 2nd column

# This is your Assignment