In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv(r'/home/rashi/Documents/ML_Programs/breastcancerdata.csv')
df.head()

,Id,clump,cellsize,cellshap,adhesion,singlecellsize,nucluie,chroma,normal,mitoses,class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

In [3]:
df.replace('?',-999,inplace=True)
df.drop(['Id'],1,inplace=True)
df.head(5)

,clump,cellsize,cellshap,adhesion,singlecellsize,nucluie,chroma,normal,mitoses,class
0,5,1,1,1,2,1,3,1,1,2
1,5,4,4,5,7,10,3,2,1,2
2,3,1,1,1,2,2,3,1,1,2
3,6,8,8,1,3,4,3,7,1,2
4,4,1,1,3,2,1,3,1,1,2

In [4]:
X = np.array(df.drop(['class'],1))
Y = np.array(df['class'])

In [5]:
print(len(X))

699

In [6]:
print(len(Y))

699

In [7]:
from sklearn import model_selection
x_train, x_test, y_train, y_test = model_selection.train_test_split(X,Y,test_size=0.20)

print(len(x_train))
print(len(y_train))
print(len(x_test))
print(len(y_test))

559
559
140
140

# Build The Classifier using Decision Tree and Naive Bayes algorithm

In [8]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier()
#In order to build the model we use the fit function
clf.fit(x_train, y_train)
predictions = clf.predict(x_test)
print(predictions)
print(accuracy_score(y_test, predictions)*100)
print(confusion_matrix(y_test, predictions))

[2 2 4 4 2 4 2 2 2 2 2 2 4 2 2 4 2 2 4 4 2 4 4 2 2 2 4 4 4 2 4 4 2 4 2 2 2
 2 2 2 2 2 2 2 2 2 4 2 4 2 2 2 2 2 2 2 4 4 2 2 2 2 4 2 4 2 2 2 2 2 4 2 2 2
 2 2 4 2 2 2 4 4 2 4 2 2 4 2 2 2 2 4 2 2 4 2 4 2 4 2 2 4 2 2 2 2 4 4 4 2 2
 2 2 2 4 2 4 2 2 2 2 2 4 2 4 2 4 4 2 4 2 2 2 2 4 2 4 4 2 2]
96.42857142857143
[[90  0]
 [ 5 45]]

In [9]:
#Naive Bayes
from sklearn.naive_bayes import GaussianNB
clf = GaussianNB()
clf.fit(x_train, y_train)
predictions = clf.predict(x_test)
print(predictions)
print(accuracy_score(y_test, predictions)*100)
print(confusion_matrix(y_test, predictions))

[2 2 4 4 2 4 2 4 2 2 2 2 4 2 2 4 2 2 4 4 2 4 4 2 2 2 4 4 4 2 4 4 4 4 2 2 2
 2 2 2 2 2 2 2 2 2 4 2 4 2 2 2 2 2 2 2 4 4 2 2 2 2 4 4 4 2 2 2 2 4 4 2 2 2
 2 4 4 2 2 2 4 4 2 4 2 2 4 2 2 2 2 4 2 2 4 2 4 2 4 2 2 4 2 4 2 2 4 4 4 2 2
 2 2 2 4 2 4 2 2 2 2 2 4 2 4 2 4 4 2 4 2 2 2 2 4 2 4 4 2 2]
95.0
[[86  4]
 [ 3 47]]